VITE_JOTFORM_API_KEY=your_api_key_here

VITE_FORM_ID_CHECKINS=your_form_id_here
VITE_FORM_ID_MESSAGES=your_form_id_here
VITE_FORM_ID_SIGHTINGS=your_form_id_here
VITE_FORM_ID_PERSONAL_NOTES=your_form_id_here
VITE_FORM_ID_ANONYMOUS_TIPS=your_form_id_here
